.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    & > button {
        border: none;
        border-radius: .3rem;
        padding: {
            inline: 1rem;
            block: .5rem;
        }
        transition: all .2s ease;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(.95);
        }
    }

    & > textarea {
        // height: min-content;
        // max-width: 40ch;
        // max-height: 10ch;
        min-width: 20vw;
        border: 1px solid grey;
        border-radius: .3rem;
        padding: {
            inline: 1rem;
            block: .5rem;
        }
    }
}