.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 70%;

    & > h3 {
        text-align: center;
        color: rgb(158, 31, 31);
        font-weight: 500;
        max-width: 30ch;
    }

    & > button {
        margin: 0 auto;
        border: none;
        border-radius: .3rem;
        padding: {
            inline: 1rem;
            block: .5rem;
        }
        cursor: pointer;
    }

}