.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 70%;

    & > button {
        margin: 0 auto;
        border: none;
        border-radius: .3rem;
        padding: {
            inline: 1rem;
            block: .5rem;
        }
        cursor: pointer;
    }

    img {
        // min-width: none !important;
        // min-height: none !important;
        // max-width: 500px !important;
        // max-height: 500px !important;
        border-radius: .4rem;
    }
}